:root {
  /* Material Pallete Colors */
  --primary: #0097A7;

  /* Font Sizes */
  --title: 2rem;
  --subtitle: 1.8rem;
  --p:1.6rem;
  --small:1.4rem;
  --xs: 1.2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}
.align-center {
  text-align: center;
}

.inactive {
  display: none;
}

/* BEM */
/* one-block__one-element_modifier  */
/* optional-block__element--modifier-style */

/* NAV BAR */
.main-nav {
  align-items: center;
}
#search-nav {
  max-width: 500px;
  margin-top: 12px;
}
#search-hero {
  margin: 20px 0 36px 0;
}
.genre-drop {
  min-width: 220px;
}
#arrow-back-icon {
  font-size: 3.4rem;
  margin: 0 0 20px 0;
  cursor: pointer;
}
#arrow-back-icon:hover {
  font-weight: bold;
}
.hero-img {
  text-align: center;
}
.trendingPreview-header {
  display: flex;
  justify-content: space-between;
  max-height: 44px;
}
.trendingPreview-btn {
  max-height: 40px;
}
/* Trending */
#trendingPreview-card-container {
  display: flex;
  gap: 12px;
  overflow-x: scroll;
  overscroll-behavior-x: contain; /* comportamiento de scroll */
  scroll-snap-type: x proximity; /* centrar elemento de scroll eje x */
  overflow-y: hidden;
  white-space: nowrap;
  /* height: 241px; */
  padding-left: 24px;
  padding-bottom: 16px;
}
.relatedMovies-scrollContainer {
  display: flex;
  gap: 12px;
  overflow-x: scroll;
  overscroll-behavior-x: contain; /* comportamiento de scroll */
  scroll-snap-type: x proximity; /* centrar elemento de scroll eje x */
  overflow-y: hidden;
  white-space: nowrap;
  /* height: 241px; */
  padding-left: 24px;
  padding-bottom: 16px;
}
.trendingPreview-movieList {
  padding: 4px;
}
.movie-container {
  position: relative;
  scroll-snap-align: center; /* Animación que lleva la tarjeta al centro */
  padding: 4px 4px;
  margin: 8px auto 8px;
  background-color: var(--secondary);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
.movie-container img {
  border-radius: 4px;
  cursor: pointer;
}

#genres-container, #genericList-movies_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* Movie Details */
.movie-detail-image_container, .movie-hero-image_container {
  width: 100%;
  display: block;
  margin: 12px 0 20px 0;
  text-align: center;
}
.movie-detail-img_hero{
  max-width: 460px;
}
.movie-categories_container {
  display: flex;
  justify-content: space-evenly;
}


@media only screen and (min-width: 768px) {
  #genres-container {
    grid-template-columns: repeat(4, 1fr);
  }
}